<h1>Tasks#show</h1>


<h2><%= @task.description %></h2>
<p><%= @task.done %></p>
<p> Create the : <%= @task.created_at %></p>
<p> Update the : <%= @task.updated_at %></p>



<%= link_to 'Home page', tasks_path %>

